{% extends 'base.html.twig' %}

{% block style %}{{ asset('css/pages/crew.css') }}{% endblock %}
{% block title %}{{ parent() }} | L'équipe {% endblock %}
{% block body_attr %}crew{% endblock %}

{% block main %}

    {{ form_start(argonautesForm) }}
    {{ form_widget(argonautesForm) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <button>EMBARQUER</button>
    {{ form_end(argonautesForm) }}



    <section class="member">
        <h2>Membres de l'équipage</h2>
        <div class="member-list">
            {% for argonaute in argonautes %}
                <div class="member-list_item">{{ argonaute.name }}</div>
            {% endfor %}
        </div>
    </section>
{% endblock %}